body{
	background-color: lightblue;
}
.box {
	background-color: palegoldenrod;
  max-width: 400px;
  min-width: 300px;
  border: 15px solid royalblue;
  padding: 40px;
position: relative;
margin: 0 auto;
}
a{
	color: black;
}