.body {

  background-color: lightblue;
  font-family: Oswald;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: peachpuff;
  }

}

.ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:  3px dotted blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

.li{
	background-color: white;
	border: solid black;
	margin:  0.5em;
	padding: 0.5em;
}
