body{
  background:black;
  font-family: 'Courier New', monospace;
  font-weight:bold;
  color:white;
  text-align:center;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 800px) {
  
}

.box-wrap{
  display:flex;
  flex-direction:  row;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
  margin:10%;
}
.box{
	height: 30px;
  min-width: 200px;
  max-width: 200px;
  padding:30px;
  margin-top: 10%;
  margin-left: -5%;
  margin-right: -5%;
  border:1px solid #d6d6d6;
  border-radius:2px;
  transition:.2s all; 

}
.box-wrap:hover .box{

  box-shadow:none;
}
.box-wrap:hover .box:hover{
  transform:translateY(-100px);
}

.spine{
  transform: rotate(-90deg)
}