

body {
      
      padding: 4em;
      color: white;
      font-family: 'Courier', monospace;
      background-color: black;
}

.p{
      position: relative;
}

.line {
      position: relative;
      
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
}

/*Animation*/

.anim-typewriter1 {
      animation: typewriter 4s steps(90) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter2 {
      animation: typewriter 4s steps(90) 3s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter3 {
      animation: typewriter 4s steps(90) 5s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter4 {
      animation: typewriter 4s steps(90) 7s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter5 {
      animation: typewriter 4s steps(90) 9s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter6 {
      animation: typewriter 4s steps(90) 11s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter7 {
      animation: typewriter 4s steps(90) 13s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter8 {
      animation: typewriter 4s steps(90) 15s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter9 {
      animation: typewriter 4s steps(90) 17s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter10 {
      animation: typewriter 4s steps(90) 18s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter11 {
      animation: typewriter 4s steps(90) 21s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter12 {
      animation: typewriter 4s steps(90) 23s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter13 {
      animation: typewriter 4s steps(90) 25s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter14 {
      animation: typewriter 4s steps(90) 27s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter15 {
      animation: typewriter 4s steps(90) 29s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter16 {
      animation: typewriter 4s steps(90) 31s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter17 {
      animation: typewriter 4s steps(90) 33s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter18 {
      animation: typewriter 4s steps(90) 35s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter19 {
      animation: typewriter 4s steps(90) 37s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter20 {
      animation: typewriter 4s steps(90) 39s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter21 {
      animation: typewriter 4s steps(90) 87s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter22 {
      animation: typewriter 4s steps(90) 90s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter23 {
      animation: typewriter 4s steps(90) 94s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

.anim-typewriter24 {
      animation: typewriter 4s steps(90) 98s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}


@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 40em;
      }
}


